*{
    margin:0;
    font-family: sans-serif;
}
.mainimg{
     position:relative;
}
.header{
position: relative;
   color: white;
}
.top{
    display: flex;
    gap:10px;
    align-items: center;
    position: absolute;
  top:2px;
  left:600px;
}
.purpl{
    background-color: purple;
    padding:10px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 50px purple;
}
.hook{
    background-color: rgb(99, 98, 98);
    padding:20px;
     border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.after{
    position: absolute;
    top:30px;
    left:200px;

    
}
.icons{
    display: flex;
    gap:10px;
    position: absolute;
    left:900px;
    top:20px;
}
.phone{
    display: flex;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position:absolute;
    top:300px;
    left:250px;
}
.btn{
    width:30%;
    padding:15px;
    border-radius: 30px;
    color:white;
    font-weight: 700;
    background-color: #F2994A;
    border: 2px solid white;
    box-shadow: 0px 0px 20px #F2994A ;
}
.r{

position: absolute;
right:20px;
top:10px;
width:40%;
}

.row{
   display: flex;
    margin: auto;
    gap: 70px;
   padding:10px;
   width:70%;
   margin-top: 50px;
}
.karta{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-weight: 700;
    gap:20px;
}
.section2{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    gap:20px;
}
.card{
  
    padding:30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    box-shadow: 0px 0px 20px grey;
    border-radius: 20px;
    align-items: center;
    position: relative;
}
.imtop{
   
    position: absolute;
    top:52px;
    left:7px;
}
.imtop1{
   
    position: absolute;
    top:20px;
    left:68px;
}
.purp{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    position: relative;
    left:-30px;

}
.ho{
    position: absolute; 
    left:-10px;  
}
.mask{
    position: relative;
}
.g20{
    position: absolute;
    top:25px;
    left:40px;
}
.g21{
    position: absolute;
    left:120px;
    top:25px;
}
.g19{
  position: absolute; 
  left:40px; 
}
.g18{
  position: absolute;
  left:120px;  
}
.mask1{
    position: relative;
}
.del{
    position: absolute;
    left:20px;
    top:53px;
}
.section3{
    margin-top: 150px;
    position: relative;
}
.main1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left3{
    position: absolute;
    top:90px;
    left:90px;
}
.right3{
display: flex;
flex-direction: column;
align-items: baseline;
justify-content: baseline;
row-gap: 10px;
position: absolute;
top:-40px;
right:300px;
}
.row3{
    display: flex;
    gap:50px;
    align-items: baseline;
}
.card3{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width:150px;
}
.nameh4{
    padding:15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
}
.bigplus{
    display: flex;
    gap:10px;
    padding:17px;
    color:white;
    background-color: #F2994A;
    border-radius: 10px;
    align-items: center;
}
.section4{
    margin-top: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
   
    
}
.c19{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: white;
    position: absolute;
    top:50px;
    left:100px;
}
.card4{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  
    justify-content: center;
    align-items: center;
}
.middle{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}
.section5 {
position: relative;
  color: #fff;
  padding: 60px 20px;
}

.wrap {
  max-width: 1100px;
position: absolute;
top:150px;
left:200px;
}

.head {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.box {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}

.pic {
  width: 45px;
  height: 45px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding:15px;
}

.box p {
  font-size: 13px;
}

.feed {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  color: #222;
  padding: 20px;
  border-radius: 12px;
  width: 31%;
  margin: 1%;
  box-sizing: border-box;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.user .pic {

  border-radius: 4px;
}

.name {
  font-weight: bold;
  color: #4a6cf7;
}

.rate {
  color: #f1c40f;
  font-size: 14px;
}

.text {
  font-size: 13px;
}


@media(max-width:510px){
   body{
    display: flex;
    flex-direction: column;
   }
    .hook{
        display: none;
    }
    .num{
        display: none;
    }
    .n{
        display: none;
    }
    .both{
        flex-direction: column-reverse;
    }
    .header{
        position: relative;
       
    }
    .mainimg{
        height:650px;
    }
    .purpl{
        position: absolute;
        left:-380px;
        top:20px;
        
    }
    .logo{
        width:50px;
       margin-left: -150px;
       margin-top: -30px;
        }
        .vec{
           display: none;
        }
        .r{
            width:70%;
            position: absolute;
            top:70px;
            left:40px;
        }
        .left{
            flex-direction: column;
            width:80%;
            position: absolute;
            left:30px;
            top:350px;
           
        }
        .btn{
            width:90%;
        }
        .row{
            flex-wrap: wrap;
        }
        .section2{
            flex-direction: column;
        }
        .cards{
            flex-direction: column;
        }
        .section3{
            flex-direction: column;
            
        }
        .right3{
            flex-direction: column;
           
            row-gap: 20px;
            justify-content: center;
            align-items: center;
            left:200px;
            top:150px;
           
        }
        .row3{
            flex-direction: column;
        }
        .bigplus{
            flex-direction: column;
        }
        .section4{
            margin-top: 2500px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        .red{
            height:200px;
        }
        .wrap{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        .items{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        .feed{
           display: flex;
            flex-direction: column;
            row-gap: 20px;  
        }
        
}